<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Checkout</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="useAssets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="useAssets/css/lib/plugins.css">
	<link rel="stylesheet" href="useAssets/css/lib/all.min.css">
    <link rel="stylesheet" href="useAssets/css/style.css">

    <!-- Custom css -->
   <link rel="stylesheet" href="useAssets/css/lib/custom.css">

    <!-- Modernizer js -->
    <script src="useAssets/js/lib/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body dir="rtl">

    <%- body %>

    <script src="useAssets/js/lib/vendor/jquery-3.2.1.min.js"></script>
	<script src="useAssets/js/lib/all.js"></script>
    <script src="useAssets/js/lib/popper.min.js"></script>
    <script src="useAssets/js/lib/bootstrap.min.js"></script>
    <script src="useAssets/js/lib/plugins.js"></script>
    <script src="useAssets/js/lib/active.js"></script>
</body>

</html>
